html { 
    background-color: beige;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

.ca-menu {
    padding: 0;
    width: 0px;
}

.ca-menu li{
    width: 81%;
    height: 75px;
    overflow: hidden;
    display: block;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border: 3px solid black; 
    border-radius: 10px;    
    border-left: 8px solid #000;    
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
    text-align: left;
    display: block;
    width: 98%;
    height: 100%;
    color: black;
    position:relative;
    cursor: pointer;
}
.ca-content{
    position: absolute;
    left: 80px;
    height: 60px;
    top: 20px;
}
.ca-main{
    font-size: 18px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub{
    font-size: 12px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.ca-menu li:hover{
    border-color: #fff004;
    background: #000;
}
.ca-menu li:hover .ca-icon{
    color: #fff004;
    text-shadow: 0px 0px 1px #fff004;
    font-size: 24px;
}
.ca-menu li:hover .ca-main{
    color: #fff004;
    font-size: 14px;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    font-size: 16px;
}

li.about {
    background-image:url("../images/about.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
li.about:hover {
    background-image:url("../images/about1.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
li.todo {
    background-image:url("../images/todo.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
li.todo:hover {
    background-image:url("../images/todo1.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
li.contact {
    background-image:url("../images/contact.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}
li.contact:hover {
    background-image:url("../images/contact1.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
}

#mainmenu {
    width: 75px;
    height: 75px;
    overflow: hidden;
    display: block;
    margin-bottom: 4px;
    background-image:url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    position: relative;
    cursor: pointer;
    margin-left: 2%;
    clear: both;    
}

.nav {
    position: relative;
    width: 20%;
    float: left;
}

.col-3 {
    width: 18%;
    float: left;
    padding: 3%;
}
.col-9 {
    width: 67%;
    float: right;
    padding: 3%;
}

.article {
    background-color: rgba(0,0,0,0.2);
    border: 3px solid black;
    border-radius: 10px;  
    padding: 50px;;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#aside {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#form {
    border: 3px solid black;    
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    background-color: rgba(0,0,0,0.2);
    float: left;
}
#form > .label{
	text-align: left;
    display: block;
    color: black;
    margin-left: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
#form > .input{
	text-align: left;
    display: block;
    background-color: lightgoldenrodyellow; 
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 8px;
}
.button{
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 8px;
    background-color: black;
    color: white;
}
.button:hover {
    margin-left: 20px;
    border: 2px solid yellow;
    border-radius: 6px;
    padding: 5px 8px;
    background-color: black;
    color: white;
}

@media only screen and (min-width:750px) 
and (max-width:950px) {
    .col-9
    {
    width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    .col-9
    {
    margin: 20px auto;
    padding: 1%;
    width: 97%;
    float: left;
    }
    .col-3
    {
    margin: 20px auto;
    padding: 1%;
    width: 94%;
    float: left;
    }
    .info {
        font-size: 14px;
    }
}

#header {
    width: 100%;
    background-color: black;
    height: 60px;
}

.dlapp {
    float: right;
    margin-top: 10px;
    border: 3px solid yellow;
    border-radius: 6px;
    padding: 0px 4px 6px 6px;
    background-color: white;
    margin-right: 30px;
}
.dlapp:hover {
    float: right;
    margin-top: 10px;
    border: 3px solid yellow;
    border-radius: 6px;
    padding: 0px 4px 6px 6px;
    background-color: black;
    margin-right: 30px;
}

a.dllink {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a.dllink:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;  
} 
a.dllink:hover {
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: black
}
.hpapp {
    float: left;
    margin-top: 10px;
    padding: 0px 16px 0px 10px;
    margin-left: 30px;
    background-color: black;
    border-radius: 6px;
    border: 2px solid yellow;
}
a.hplink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    font-family: cursive;
}
a.holink:visited {
    color: white;
    text-decoration: none;
    font-weight: bold; 
    font-size: 32px;
    font-style: italic;
    font-family: cursive;
} 
a.hplink:hover {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    font-family: cursive;
}
footer {
    border-top: 2px solid black;
}
.footerleft {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.footerright {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
#content {
    text-align: center;
    font-size: 36px;   
    font-family: sans-serif; 
}
#sadtohappy {
    margin-top: 70px;
}
.plusimg {
    position: relative;
    top: -14px;
    right: 10px;
}
#happy{
    margin-top: 40px;
}
#contactform {
    margin-top: 40px;
    border-top: 2px solid black;
}
.contactp {
    font-size: 18px;
    text-decoration: underline;
}
#contactphone {
    margin-top: 20px;
}
#contactemail {
    margin-top: 20px;
}